//Variables
// Contém todas as variáveis SCSS do sistema.

//
// Color system
//

// scss-docs-start gray-color-variables
$white: #fff !default;
$gray-100: #f8fafa !default;
$gray-200: #e9efee !default;
$gray-300: #dee6e3 !default;
$gray-400: #ced9da !default;
$gray-500: #adbbbd !default;
$gray-600: #6c7c7d !default;
$gray-700: #495657 !default;
$gray-800: #343e40 !default;
$gray-900: #212729 !default;
$black: #0c0e0e !default;
// scss-docs-end gray-color-variables

// scss-docs-start color-variables
$blue: #0d6efd !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #d63384 !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #198754 !default;
$teal: #10a176 !default;
$cyan: #0dcaf0 !default;
// scss-docs-end color-variables

// scss-docs-start theme-color-variables
$primary: $teal  !default;
$secondary: $gray-600  !default;
$success: $green  !default;
$info: $cyan  !default;
$warning: $yellow  !default;
$danger: $red  !default;
$light: $gray-200  !default;
$dark: $gray-900  !default;
// scss-docs-end theme-color-variables


//
// Sidenav
//
// Z index variables
$zindex-content: 1037 !default;
$zindex-sidenav: 1038 !default;
$zindex-topnav: 1039 !default;

// Color variables for the sidenav

// -- Sidenav Light
$sidenav-light-bg: $gray-200;
$sidenav-light-color: $gray-900;
$sidenav-light-heading-color: $gray-500;
$sidenav-light-link-color: $sidenav-light-color;
$sidenav-light-link-active-color: $primary;
$sidenav-light-link-active-bg: rgba($color: $primary, $alpha: 0.1);
$sidenav-light-icon-color: $gray-700;
$sidenav-light-footer-bg: $gray-300;

// Color variables for the topnav
$topnav-dark-toggler-color: fade-out($white, 0.5);
$topnav-light-toggler-color: $gray-900;

//
// Spacing
//
// Spacing variables for navigation
$topnav-base-height: 56px;
$sidenav-base-width: 225px;